*.ini
*.gz
Data/Weather/StationDetails.csv
*.zip
.vscode/launch.json
*.parquet
Data/MetEirrean/Data_Licence.pdf
Data/MetEirrean/Data_Licence.txt
Data/MetEirrean/hly175.csv
Data/MetEirrean/hly532.csv
Data/MetEirrean/hly3723.csv
Data/MetEirrean/KeyHourly.txt
dublinbusmap.html
dublinbusmap.png
dublinbusenv/*
.ipynb_checkpoints/*
Report/CA Cover Sheet for submissions.docx
Report/report_template.docx
*.svg
Report/~$ Cover Sheet for submissions.docx
Report/~$port_template.docx
Report/Data/hly175.csv
Report/Data/KeyHourly.txt
Report/MSC_DA_CA1_report.docx
Report/Notebook/CA 1 - Project Code.ipynb
